@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

/* Page Content */

.pick-restaurant-wrapper {
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.pick-restaurant-title {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin-top: 55px;
    position: relative;
}

/* Bottom */

.pick-restaurant-bottom {
    background-color: #fff;
    height: 80vh;
    margin-top: auto;
    border-top: 4px solid #e64d00;
}

.pick-restaurant-bottom-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

/* No More Restaurant Alert Link */

.add-restaurant-alert-link {
    color: #000;
    text-decoration: underline;
    margin: -0.5em 0 0 -1rem;
}

.add-restaurant-alert-link:hover {
    color: #000;
}

/* Chosen Restaurant */

.chosen-restaurant-title {
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
}

.chosen-restaurant-container {
    width: 600px;
    border: 5px solid #e64d00;
    margin-top: 30px;
    color: #fff;
    background-color: #000;
    text-align: center;
}

/* Form */

.pick-restaurant-form {
    margin-left: 15px;
    font-weight: 400;
    font-weight: bold;
}

.pick-restaurant-form-button {
    margin-top: 10px;
    width: 230px;
    height: 40px;
    background-color: #e64d00 !important;
    border: none !important;
    border-radius: 3%;
}

.form-group {
    width: 350px;
}