@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

.add-restaurant-wrapper {
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    font-family: 'Titillium Web', sans-serif;
}

.add-restaurant-title {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin-top: 55px;
    position: relative;
}

/* Homepage Button */

.homepage-button {
    position: absolute;
    bottom: -3px;
    right: 0;
}

.homepage-button-image {
    width: 45px;
}

/* Bottom */

.add-restaurant-bottom {
    background-color: #fff;
    height: 80vh;
    margin-top: auto;
    border-top: 4px solid #e64d00;
}

/* Restaurant Exists Alert Link */

.view-restaurants-alert-link {
    color: #000;
    text-decoration: underline;
    margin: -0.5em 0 0 -1rem;
}

.view-restaurants-alert-link:hover {
    color: #000;
}

/* Form */

.add-restaurant-form {
    margin-top: 30px;
    font-weight: 400;
    font-weight: bold;
}

label {
    font-size: 20px;
}

.add-restaurant-submit {
    margin-bottom: 20px;
    width: 230px;
    height: 40px;
    background-color: #e64d00 !important;
    border: none !important;
    border-radius: 3%;
}

.add-restaurant-submit:hover {
    text-decoration: underline !important;
}

.form-group {
    width: 350px;
}

/* Autocomplete */

/* textbox */
.test-input {
    border: 1px solid #ced4da;
    padding: 0.5rem;
    width: 100%;
}

/* no suggestions text */
.no-suggestions {
    color: #495057;
    padding: 0.5rem;
}

/* list of not selected suggestions */
.suggestions {
    border: 1px solid #ced4da;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: auto;
    overflow-y: auto;
    padding-left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* each suggestion from list */
.suggestions li {
    padding: 0.5rem;
}
  
/* selected/hovered suggestion */
.suggestion-active,
.suggestions li:hover {
    background-color: #e64d00;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}

@media (max-width: 800px) {
    .add-restaurant-title {
        font-size: 50px;
    }

    .homepage-button {
        bottom: -4px;
    }
    
    .homepage-button-image {
        width: 40px;
    }
}

@media (max-width: 650px) {
    .add-restaurant-title {
        font-size: 40px;
    }

    .homepage-button {
        bottom: -4px;
    }
    
    .homepage-button-image {
        width: 33px;
    }
}