@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

.menu-wrapper {
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

/* Header */

.menu-header {
    padding-top: 50px;
    padding-bottom: 10px;
}

.menu-title {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
}

.menu-title-username {
    color: #e64d00;
}

/* Logout Button */

.menu-logout-btn {
    position: relative;
}

.menu-logout-btn:hover {
    outline: none;
    text-decoration: none;
}

.menu-logout-btn-link {
    color: #fff;
    position: absolute;
    bottom: 16px;
}

.menu-logout-btn-link:hover {
    color: #fff ;
    text-decoration: underline;
}

/* Menu */

.menu-nav {
    width: 325px;
    font-weight: 400;
}

.menu-link-icon {
    width: 30px;
    margin-right: 10px;
}

.menu-nav-link {
    color: #fff;
    font-size: 32px;
}

.menu-nav-link:hover {
    color: #e64d00;
    font-weight: bold;
} 

@media (max-width: 600px) {
    .menu-title {
        font-size: 45px;
        padding-left: 15px;
    }

    .menu-logout-btn-link {
        bottom: 13px;
    }

    .menu-nav-link {
        font-size: 25px;
    }
}

@media (max-height: 650px) {
    .menu-container {
        height: auto;
    }

    .menu-nav {
        padding-bottom: 20px;
    }
}