/* Loading CSS */

.view-restaurants-container-loading {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.view-restaurants-loading-gif {
    margin-top: 50px; 
}

.view-restaurants-loading-text {
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
}

/* Page Content */

.view-restaurants-wrapper {
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.view-restaurants-title {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin-top: 55px;
    position: relative;
}

/* Bottom */

.view-restaurants-bottom {
    background-color: #fff;
    height: 80vh;
    margin-top: auto;
    border-top: 4px solid #e64d00;
}

.view-restaurants-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Search Bar */

.view-restaurants-search-container {
    width: 350px;
    border-bottom: 2px solid black;
    margin-top: 20px;
}

.view-restaurants-search {
    border: none !important;
    box-shadow: none !important;
    font-weight: 400;
    font-size: 19px !important;
}

/* Keys */

.view-restaurants-key {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.view-restaurants-visited {
    width: 93px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 17px;
    margin-right: 10px;
}

.view-restaurants-visited-key {
    background-color: gray;
    width: 30px;
    height: 25px;
}

.view-restaurants-not-visited {
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 17px;
    margin-left: 10px;
}

.view-restaurants-not-visited-key {
    background-color: #e64d00;
    width: 30px;
    height: 25px;
}

/* Card Container */

.view-restaurants-card-container {
    width: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}