@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

.restaurant-card-wrapper {
    width: 250px;
    height: 175px;
    border-radius: 3%;
    margin: 15px;
    font-weight: 600;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.restaurant-card-title-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

.restaurant-card-triangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: 0 auto;
}

.restaurant-card-details {
    margin: 10px;
    color: #000;
    font-weight: 400;
}